// Colors //
//Primary
$clr1: #6c44fc;
$clr2: #c544fc;

//Buttons
$btn: #ff6469;

//Fonts
$clr3: #fff;
$clr4: #000;
$clr5: #b2b2b2;

// Lines
$clr6: #d7d7d7;

// Page Widths //
$xs: 320px;
$sm: 414px;
$md: 768px;
$lg: 1024px;

